# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# ignore binaries
*main
*config
cmd/client/client
# Ignore envs
*.env
*config*.json

### Go Patch ###
**/vendor/
/Godeps/

*.key
*.key.pub

id_rsa
id_rsa.pub

# **/node_modules

*.log
**/supervisord.conf